.DS_Store

# Java / IntelliJ
**/.classpath
**/.project
**/.settings
**/target
.classpath
.project
.settings
.factorypath
.idea
target
*.iml
*.class
*~
*.orig

# Notebooks #
**/.ipynb_checkpoints

# Fiji #
*.jar

# Nextflow #
**/.nextflow*
**/.nextflow
**/work
**/report-*
**/trace-*
**/core.*

# Nextflow output for this project #
**/Transformations/
**/Detected_Spots/
**/Registered/
**/Assigned/
**.tif
**.csv
**/Final_Results

# Apptainer
**.sif

# SLURM
slurm*.out

# VSCode
.vscode/
