.DS_Store

# Java / IntelliJ
**/.classpath
**/.project
**/.settings
**/target
.classpath
.project
.settings
.factorypath
.idea
target
*.iml
*.class
*~
*.orig

# Notebooks #
**/.ipynb_checkpoints

# Fiji #
*.jar

# Python #
**/__pycache__/

# Nextflow #
**/.nextflow*
**/.nextflow
**/work
**/report-*
**/trace-*
**/core.*

# Nextflow output for this project #
**/Transformations/
**/Detected_Spots/
**/Registered/
**/Assigned/
**/Final_Tiling_Results/
**/FormattedData/
**/formated_test_data/
**/Tiled/
**.tif
**.csv
**/Final_Results
**/RegisterQc/
test_workflow.nf

# Apptainer
**.sif

# SLURM
slurm*.out

# VSCode
.vscode/
