process {
    executor = 'slurm'
    queue = 'htc-el8'
    cpus = 1
    memory = 600.MB
    time = 20.min
    //container = "docker://segonzal/fish_analysis:0.0.3"

    withLabel: 'infinitesimal' {
        cpus = 1
        memory = 200.MB
        time = 3.min
    }

    withLabel: 'minimal' {
        cpus = 1
        memory = 400.MB
        time = 10.min
    }

    withLabel: 'small' {
        cpus = 1
        memory = 1200.MB
        time = 5.min
    }

    withLabel: 'long' {
        cpus = 8
        memory = 32.GB
    }

    withLabel: 'registration' {
        cpus = 8
        memory = 32.GB
    }
}

apptainer {
    enabled = true
	autoMounts = true
}

def INPUTDIR = "/scratch/segonzal/MinimalData/"
//def INPUTDIR = "/scratch/segonzal/Sergio/Jessica/"
params {
    inputRefImagePath = INPUTDIR + "anchor_nuclei.tiff"
    inputMovImagesLearnPath = INPUTDIR + "r*_DAPI.tiff"
    movingImagesApplyPath = INPUTDIR + "r*_*.tiff"
    inputUntransformedImagesPath = INPUTDIR + "anchor_*.tiff"
    rescale_factor = "2"
    elastix_parameter_files = "/scratch/segonzal/iss-nf/parameter_files/elastix_parameters_2D.*.txt"
    ExpMetaJSON = "/scratch/segonzal/iss-nf/data/experiment_metadata_sample.json"
    CodeJSON = "/scratch/segonzal/iss-nf/data/codebook.json"
    fov = "fov_001"
}
