process {
    executor = 'slurm'
    queue = 'htc-el8'
    cpus = 2
    memory = 4.GB
    time = 30.min
    //container = "docker://segonzal/fish_analysis:0.0.3"

    withLabel: 'long' {
        cpus = 8
        memory = 32.GB
    }
}

apptainer {
    enabled = true
	autoMounts = true
}

def INPUTDIR = "/scratch/segonzal/MinimalData/"
params {
    inputRefImagePath = INPUTDIR + "anchor_nuclei.tif"
    inputMovImagesLearnPath = INPUTDIR + "r*_DAPI.tif"
    movingImagesApplyPath = INPUTDIR + "r*_*.tif"
    elastix_parameter_files = "/home/segonzal/Documents/Repositories/iss-nf/parameter_files/elastix_parameters_2D.0.txt"
}
