process {
    executor = 'slurm'
    queue = 'htc-el8'
    cpus = 2
    memory = 8.GB
    time = 20.min
    //container = "docker://segonzal/fish_analysis:0.0.3"

    withLabel: 'long' {
        cpus = 8
        memory = 32.GB
    }
}

apptainer {
    enabled = true
	autoMounts = true
}

def INPUTDIR = "/scratch/segonzal/MinimalData/"
params {
    inputRefImagePath = INPUTDIR + "anchor_nuclei.tif"
    inputMovImagesLearnPath = INPUTDIR + "r*_DAPI.tif"
    movingImagesApplyPath = INPUTDIR + "r*_*.tif"
    inputUntransformedImagesPath = INPUTDIR + "anchor_*.tif"
    elastix_parameter_files = "/scratch/segonzal/iss-nf/parameter_files/elastix_parameters_2D.0.txt"
    ExpJSON = "/scratch/segonzal/ExperimentJSONs/experiment.json"
    CodeJSON = "/scratch/segonzal/ExperimentJSONs/codebook.json"
    bothJSON = "/scratch/segonzal/ExperimentJSONs/*.json"
    fov = "fov_001"
}
