process {
    executor = 'slurm'
    queue = 'htc-el8'
    cpus = 2
    memory = 8.GB
    time = 30.min
    //container = "docker://segonzal/fish_analysis:0.0.3"

    withLabel: 'long' {
        cpus = 8
        memory = 32.GB
    }
}

apptainer {
    enabled = true
	autoMounts = true
}

params {
    inputRefImagePath = "/scratch/segonzal/Sergio/Matias/Stitched/r1_DAPI.tif"
    inputMovImagesLearnPath = "/scratch/segonzal/Sergio/Matias/Stitched/r{2,3,4}_DAPI.tif"
    movingImagesApplyPath = "/scratch/segonzal/Sergio/Matias/Stitched/r{2,3,4}_*.tif"
    elastix_parameter_files = "/home/segonzal/Documents/Repositories/iss-nf/parameter_files/elastix_parameters_2D.0.txt"
}
