process {
    executor = 'slurm'
    queue = 'htc-el8'
    cpus = 1
    memory = 600.MB
    time = 7.min
    //container = "docker://segonzal/fish_analysis:0.0.3"

    withLabel: 'infinitesimal' {
        cpus = 1
        memory = 200.MB
        time = 3.min
    }

    withLabel: 'minimal' {
        cpus = 1
        memory = 400.MB
        time = 3.min
    }

    withLabel: 'small' {
        cpus = 1
        memory = 1200.MB
        time = 5.min
    }

    withLabel: 'long' {
        cpus = 8
        memory = 32.GB
    }
}

apptainer {
    enabled = true
	autoMounts = true
}

def INPUTDIR = "/hpc/scratch/hdd1/nv066607/ISS_tmp/MinimalData/"
params {
    inputRefImagePath = INPUTDIR + "anchor_nuclei.tif"
    inputMovImagesLearnPath = INPUTDIR + "r{0,1,2,3}_DAPI.tif"
    movingImagesApplyPath = INPUTDIR + "r{0,1,2,3}_*.tif"
    inputUntransformedImagesPath = INPUTDIR + "anchor_*.tif"
    elastix_parameter_files = "/home/nv066607/python_github_enterprise/issdecoder_feat/issdecoder/elastix_parameter_files_merged/"
    tile_size = 2000
    outputDir = "/hpc/scratch/hdd1/nv066607/ISS_tmp/TilerOutput"
    ExpMetaJSON = "/home/nv066607/python_github_enterprise/iss-nf/data/experiment_metadata_sample.json"
    CodeJSON = "/home/nv066607/python_github_enterprise/iss-nf/data/codebook.json"
    fov = "fov_001"
}

