process {
    executor = 'slurm'
    //queue = 'htc-el8'
    cpus = 2
    memory = 600.MB
    time = 7.min
    maxRetries    = 1
    //container = "docker://segonzal/fish_analysis:0.0.3"

    withLabel: 'infinitesimal' {
        cpus = 1
        memory = 200.MB
        time = 3.min
    }

    withLabel: 'tiler' {
        cpus = 2
        memory = 32.GB
        time = 25.min
    }

    withLabel: 'minimal' {
        cpus = 1
        memory = 400.MB
        time = 3.min
    }

    withLabel: 'singleImage' {
        cpus = 1
        memory = 16.GB
        time = 5.min
    }

    withLabel: 'learn_registration' {
        cpus = {10  * task.attempt }
        memory = {32.GB * task.attempt }
        time = {10.min * task.attempt }
        //errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    
    }
    
    withLabel: 'apply_registration' {
        cpus = {60  * task.attempt }
        memory = {64.GB * task.attempt }
        time = {30.min * task.attempt }
        //errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    
    }

    withLabel: 'small' {
        cpus = 1
        memory = 1200.MB
        time = 5.min
    }

    withLabel: 'decoding' {
        cpus = 2
        memory = 4.GB
        time = 5.min
    }

    withLabel: 'long' {
        cpus = 8
        memory = 32.GB
        time = 40.min
    }

    withLabel: 'beast' {
        cpus = 40
        memory = 256.GB
        time = 120.min
    }
}

apptainer {
    enabled = true
	autoMounts = true
}

def INPUTDIR = "/hpc/scratch/hdd1/nv066607/ISS_tmp/ISS_425_NSCLC199_BL3/Stitched/"

params {
    inputRefImagePath = INPUTDIR + "anchor_nuclei.tiff"
    inputMovImagesLearnPath = INPUTDIR + "r{1,2,3,4,5,6}_DAPI.tif*"
    movingImagesApplyPath = INPUTDIR + "r{1,2,3,4,5,6}_*.tif*"
    inputUntransformedImagesPath = INPUTDIR + "anchor_*.tif*"
    elastix_parameter_files = "/home/nv066607/python_github_enterprise/migratedVersion/issdecoder/elastix_parameter_files/elastix_parameters_2D.0.txt"
    //tile_size = 2000
    rescale_factor = "20"
    outputDir = "/hpc/scratch/hdd1/nv066607/ISS_tmp/TilerOutput"
    ExpMetaJSON = "/home/nv066607/python_github_enterprise/iss-nf/data/experiment_metadata_sample.json/"
    CodeJSON = "/home/nv066607/python_github_enterprise/migratedVersion/issdecoder/codebook_TMEv3_with_Ig.json"
    //fov = "fov_001"
    qc_outputDir =  INPUTDIR + "QC_report"
}
