process {
    executor = 'slurm'
    //queue = 'htc-el8'
    cpus = 1
    memory = 600.MB
    time = 7.min
    //container = "docker://segonzal/fish_analysis:0.0.3"

    withLabel: 'infinitesimal' {
        cpus = 1
        memory = 200.MB
        time = 3.min
    }

    withLabel: 'minimal' {
        cpus = 1
        memory = 400.MB
        time = 3.min
    }

    withLabel: 'registration' {
        cpus = 2
        memory = 12.GB
        time = 8.min
    }

    withLabel: 'small' {
        cpus = 1
        memory = 1200.MB
        time = 5.min
    }

    withLabel: 'long' {
        cpus = 8
        memory = 32.GB
    }
}

apptainer {
    enabled = true
	autoMounts = true
}

def INPUTDIR = "/hpc/scratch/hdd1/sg250269/ISS_tmp/ISS_382_NSCLC154_BL2/Stitched/"
params {
    inputRefImagePath = INPUTDIR + "anchor_nuclei.tif"
    inputMovImagesLearnPath = INPUTDIR + "r*_DAPI.tif"
    movingImagesApplyPath = INPUTDIR + "r*_*.tif"
    inputUntransformedImagesPath = INPUTDIR + "anchor_*.tif"
    elastix_parameter_files = "/hpc/scratch/hdd2/sg250269/ISS_tmp/iss-nf-test/iss-nf/parameter_files/elastix_parameters_2D.0.txt"
    ExpMetaJSON = "/hpc/scratch/hdd2/sg250269/ISS_tmp/iss-nf-test/iss-nf/data/experiment_metadata_sample.json"
    CodeJSON = "/hpc/scratch/hdd2/sg250269/ISS_tmp/iss-nf-test/iss-nf/data/codebook.json"
    fov = "fov_001"
}
