process {
    executor = 'slurm'
    //queue = 'htc-el8'
    cpus = 1
    memory = 600.MB
    time = 7.min
    //container = "docker://segonzal/fish_analysis:0.0.3"

    withLabel: 'infinitesimal' {
        cpus = 1
        memory = 200.MB
        time = 3.min
    }

    withLabel: 'tiler' {
        cpus = 1
        memory = 2.GB
        time = 25.min
    }

    withLabel: 'minimal' {
        cpus = 1
        memory = 400.MB
        time = 3.min
    }

    withLabel: 'singleImage' {
        cpus = 1
        memory = 1.GB
        time = 5.min
    }

    withLabel: 'registration' {
        cpus = 2
        memory = 8.GB
        time = 25.min
    }

    withLabel: 'small' {
        cpus = 1
        memory = 1200.MB
        time = 5.min
    }

    withLabel: 'long' {
        cpus = 1
        memory = 4.GB
        time = 40.min
    }

    withLabel: 'beast' {
        cpus = 2
        memory = 8.GB
        time = 10.min
    }
}

apptainer {
    enabled = true
	autoMounts = true
}

def INPUTDIR = "/hpc/scratch/hdd2/sg250269/ISS_tmp/iss-nf-test/TestDataset/"
params {
    inputRefImagePath = INPUTDIR + "anchor_nuclei.tiff"
    inputMovImagesLearnPath = INPUTDIR + "r*_DAPI.tiff"
    movingImagesApplyPath = INPUTDIR + "r*_*.tiff"
    inputUntransformedImagesPath = INPUTDIR + "anchor_*.tiff"
    elastix_parameter_files = "/hpc/scratch/hdd2/sg250269/ISS_tmp/iss-nf-test/iss-nf/parameter_files/elastix_parameters_2D.0.txt"
    ExpMetaJSON = "/hpc/scratch/hdd2/sg250269/ISS_tmp/iss-nf-test/iss-nf/data/experiment_metadata_sample.json"
    CodeJSON = INPUTDIR + "codebook_minimaldataset.json"
    fov = "fov_001"
}
