process {
    //executor = 'slurm'
    //queue = 'htc-el8'
    cpus = 1
    memory = 600.MB
    time = 7.min
    //container = "segonzal/starfish_itkelastix:0.0.1"

    withLabel: 'infinitesimal' {
        cpus = 1
        memory = 200.MB
        container = "segonzal/starfish_itkelastix:0.0.2"
    }

    withLabel: 'minimal' {
        cpus = 1
        memory = 400.MB
        container = "segonzal/starfish_itkelastix:0.0.2"
    }

    withLabel: 'small' {
        cpus = 1
        memory = 1200.MB
        time = 5.min
    }

    withLabel: 'long' {
        cpus = 8
        memory = 32.GB
    }

    withLabel: 'registration' {
        cpus = 4
        memory = 8.GB
        container = "segonzal/fish_analysis:0.0.2"
    }

    withLabel: 'singleImage' {
        cpus = 4
        memory = 8.GB
        container = "segonzal/starfish_itkelastix:0.0.2"
    }

    withLabel: 'decoding' {
        cpus = 4
        memory = 8.GB
        container = "segonzal/starfish_itkelastix:0.0.2"
    }

    withLabel: 'beast' {
        cpus = 4
        memory = 8.GB
        container = "segonzal/starfish_itkelastix:0.0.2"
    }

    withLabel: 'singleImage' {
        cpus = 4
        memory = 8.GB
        container = "segonzal/starfish_itkelastix:0.0.2"
    }
}

docker {
    enabled = true
}

def INPUTDIR = "/Users/segonzal/Documents/Repositories/iss-nf/Output/"
//def INPUTDIR = "/scratch/segonzal/Sergio/Jessica/"
params {
    inputRefImagePath = INPUTDIR + "anchor_nuclei.tiff"
    inputMovImagesLearnPath = INPUTDIR + "r*_DAPI.tiff"
    movingImagesApplyPath = INPUTDIR + "r*_*.tiff"
    inputUntransformedImagesPath = INPUTDIR + "anchor_*.tiff"
    rescale_factor = "2"
    elastix_parameter_files = "/Users/segonzal/Documents/Repositories/iss-nf/parameter_files/elastix_parameters_2D.0.txt"
    ExpMetaJSON = "/Users/segonzal/Documents/Repositories/iss-nf/data/experiment_metadata_sample.json"
    CodeJSON = INPUTDIR + "codebook_minimaldataset.json"
    fov = "fov_001"
}
