process {
    executor = 'slurm'
    cpus = { 2*task.attempt }
    memory = { 32.GB*task.attempt }
    time = { 4.h  * task.attempt }
    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'

    withLabel: 'infinitesimal' {
        cpus = 1
        memory = 200.MB
        time = 3.min
    }

    withLabel: 'tiler' {
        cpus = {2* task.attempt }
        memory = {64.GB* task.attempt }
        time = {25.min* task.attempt }
    }

    withLabel: 'minimal' {
        cpus = {1 * task.attempt }
        memory = {400.MB * task.attempt }
        time = {3.min * task.attempt }
    }

    withLabel: 'singleImage' {
        cpus = {1 * task.attempt }
        memory = {16.GB * task.attempt }
        time = {5.min * task.attempt }
    }

    withLabel: 'learn_registration' {
        cpus = {2  * task.attempt }
        memory = {64.GB * task.attempt }
        time = {15.min * task.attempt }
        //errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    
    }
    
    withLabel: 'apply_registration' {
        cpus = {10  * task.attempt }
        memory = {128.GB * task.attempt }
        time = {20.min * task.attempt }
        //errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    
    }

    withLabel: 'concat' {
        cpus = {2  * task.attempt }
        memory = {16.GB * task.attempt }
        time = {20.min * task.attempt }
        //errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    
    }

    withLabel: 'small' {
        cpus = {2 * task.attempt }
        memory = {16.GB * task.attempt }
        time = {5.min * task.attempt }
    }

    withLabel: 'decoding_starfish' {
        cpus = {10  * task.attempt }
        memory = {100.GB * task.attempt }
        time = {90.min * task.attempt }
    }

    withLabel: 'decoding_postcode' {
        cpus = {10  * task.attempt }
        memory = {100.GB * task.attempt }
        time = {90.min * task.attempt }
    }

    withLabel: 'long' {
        cpus = {2 * task.attempt }
        memory = {64.GB * task.attempt }
        time = {40.min * task.attempt }
    }

    withLabel: 'beast' {
        cpus = {2 * task.attempt }
        memory = {128.GB * task.attempt }
        time = {200.min * task.attempt }
    }
}

